.body{
    background-image: url("https://img.freepik.com/free-vector/gradient-black-background-with-wavy-lines_23-2149157312.jpg");
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0px;
    border: 1px solid gray;
    border-radius: 10px;
}

.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia;
}

.link:hover{
    color: aquamarine;
    font-size: 25px;
}

html{
    scroll-behavior: smooth;
}

.c-link{
    text-decoration: none;
    color: rgb(245, 234, 234);
    font-size: 16px;
    font-weight: bold;
    font-family: cursive;
    margin-left: 10px;
    
}

.c-link:hover{
    color:aliceblue;
    font-size: 22px;
}

.logout{
    text-decoration: none;
    color: rgb(245, 234, 234);
    font-size: 16px;
    font-weight: bold;
    font-family: cursive;
    margin-left: 10px;
}

.logout:hover{
    color: red;
    font-size: 22px;
}

.books-container{
    background-color: #D0D0D0;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-radius: 35px;
    width: 75%;
    border: 5px solid #696969;
    margin-bottom: 50px;
}

.books-heading{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    color: black;
    text-decoration: underline;
}

.table{
    border: 1px solid black;
    color: black;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.row-header{
    background-color: grey;
}

.row-header-2{
    background-color: rgb(236, 227, 227);
}

.row-content{
    background-color: lightgray;
}

.author{
    padding: 5px;
}

.table-heading{
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.title-link{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.title-link:hover{
    font-size: 20px;
    color: brown;
}

.book-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section{

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    text-align: start;
}

.input{
    width: 100%;
    height: 25px;
    outline:none;
    margin-top: 5px;
    margin-bottom: 10px;
}

.input:focus{
    border: 5px solid skyblue;
    padding-left: 8px;

}

.label{
    font-size: 20px; 
}

.register{
    width: 100%;
    background-color: black;
    padding: 8px;
    color: white;
    margin-top: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.buy-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}